<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>weather demo</display-name>
  <listener>
    <listener-class>com.jfetek.demo.weather.Bootstrap</listener-class>
  </listener>
  <servlet>
    <servlet-name>JSCSSMergeServlet</servlet-name>
    <servlet-class>com.googlecode.webutilities.servlets.JSCSSMergeServlet
		</servlet-class>
    <init-param>
      <param-name>expiresMinutes</param-name>
      <param-value>14400</param-value>
    </init-param>
    <init-param>
      <param-name>cacheControl</param-name>
      <param-value>public</param-value>
    </init-param>
    <init-param>
      <param-name>turnOffUrlFingerPrinting</param-name>
      <param-value>true</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSCSSMergeServlet</servlet-name>
    <url-pattern>*.js</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JSCSSMergeServlet</servlet-name>
    <url-pattern>*.json</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JSCSSMergeServlet</servlet-name>
    <url-pattern>*.css</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>charEncodingFilter</filter-name>
    <filter-class>com.googlecode.webutilities.filters.CharacterEncodingFilter
		</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>force</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>ignoreURLPattern</param-name>
      <param-value>.*\.(png|gif|jpg|tiff|bmp|mpg|jpeg)</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>charEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>compressionFilter</filter-name>
    <filter-class>com.googlecode.webutilities.filters.CompressionFilter
		</filter-class>
    <init-param>
      <param-name>compressionThreshold</param-name>
      <param-value>512</param-value>
    </init-param>
    <init-param>
      <param-name>ignoreURLPattern</param-name>
      <param-value>.*\.(png|gif|jpg|tiff|bmp|mpg|jpeg)</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>compressionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>yuiMinFilter</filter-name>
    <filter-class>com.googlecode.webutilities.filters.YUIMinFilter
		</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>yuiMinFilter</filter-name>
    <url-pattern>*.js</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>yuiMinFilter</filter-name>
    <url-pattern>*.json</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>yuiMinFilter</filter-name>
    <url-pattern>*.css</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/500.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>WeatherAPI1</display-name>
    <servlet-name>WeatherAPI1</servlet-name>
    <servlet-class>com.jfetek.demo.weather.ws.WeatherAPI1</servlet-class>
    <!-- init-param>
      <param-name>param.route</param-name>
      <param-value>/:name(/:fields)(/)</param-value>
    </init-param>
    <init-param>
      <param-name>merge.query</param-name>
      <param-value>true</param-value>
    </init-param -->
  </servlet>
  <servlet-mapping>
    <servlet-name>WeatherAPI1</servlet-name>
    <url-pattern>/weather_station</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WeatherAPI1 by geo</display-name>
    <servlet-name>WeatherAPI1.geo</servlet-name>
    <servlet-class>com.jfetek.demo.weather.ws.WeatherAPI1ByGeo</servlet-class>
    <!-- init-param>
      <param-name>param.route</param-name>
      <param-value>/:lat,:lng(/:fields)(/)</param-value>
    </init-param>
    <init-param>
      <param-name>merge.query</param-name>
      <param-value>true</param-value>
    </init-param -->
  </servlet>
  <servlet-mapping>
    <servlet-name>WeatherAPI1.geo</servlet-name>
    <url-pattern>/weather_geo</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>WikiAPI1</display-name>
    <servlet-name>WikiAPI1</servlet-name>
    <servlet-class>com.jfetek.demo.weather.ws.WikiAPI1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WikiAPI1</servlet-name>
    <url-pattern>/wikistat</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>GeoAPI1</display-name>
    <servlet-name>GeoAPI1</servlet-name>
    <servlet-class>com.jfetek.demo.weather.ws.GeoAPI1</servlet-class>
    <!-- 
    <init-param>
      <param-name>param.route</param-name>
      <param-value>/:country(/:city)(/)</param-value>
    </init-param>
    <init-param>
      <param-name>merge.query</param-name>
      <param-value>true</param-value>
    </init-param>
     -->
  </servlet>
  <servlet-mapping>
    <servlet-name>GeoAPI1</servlet-name>
    <url-pattern>/geo_api</url-pattern>
  </servlet-mapping>
    
  <servlet>
    <description></description>
    <display-name>WeatherAPIStation</display-name>
    <servlet-name>WeatherAPIStation</servlet-name>
    <servlet-class>com.jfetek.demo.weather.ws.WeatherAPIStation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WeatherAPIStation</servlet-name>
    <url-pattern>/station_list</url-pattern>
  </servlet-mapping>
</web-app>